#!/usr/bin/env xdg-open
[Desktop Entry]
VERSION=1.0
Encoding=UTF-8
Exec=python3 /home/<you the user>/passphrase-master/passphrase.py
Path=/home/<you the user>/pypassphrase-master/
Categories=Utility;Application;
Terminal=false
Type=Application
Comment[en_US.UTF-8]=launch Python tkinter window
GenericName[en_US.UTF-8]=Python Passphrase Generator
Name[en_US]=Passphrases
